@media(max-width: 576px){
.card-perfum{
    width: 320px;
    height: 600px;
}

.card-perfum .image-perfum{
    height: 400px;
    width: 100px;
    border-radius: 10px 10px 0 0;
}
}

/* .card-perfum{
    display: flex;
flex-direction: column;
width: 320px;
height: 600px;
align-items: center;
margin-top: 100px;
}
.card-perfum .image-perfum{
    display: inline;
    gap: 20px;
    width: 50%;
    height: 400px;
    position: relative; 
}
.card-perfum .image-perfum source{
    position: relative;
    display: flex;
    width: 300px;
    background-color: aqua;
    height: 50%;
    left: -50%;
    border-radius: 10px 10px 0 0;
} */